{%load static%}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>road safety</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="{% static  'css/Ai.css'%}">

</head>

<body>
    <div class="slider">
      <div class="controls">
        <div class="up">
          <i class="fa fa-chevron-up"></i>
        </div>
        <div class="down">
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>

      <div class="wrapper">
        <div class="left">
          <div>
            <h2>CAS :</h2>
            <p>
              A collision avoidance system (CAS), also known as a pre-crash system, forward collision warning system (FCW), or collision mitigation system, is an advanced driver-assistance system designed to prevent or reduce the severity of a collision.[2] In its basic form, a forward collision warning system monitors a vehicle's speed, the speed of the vehicle in front of it, and the distance between the vehicles, so that it can provide a warning to the driver if the vehicles get too close, potentially helping to avoid a crash.[3] Various technologies and sensors that are used include radar (all-weather) and sometimes laser (LIDAR) and cameras (employing image recognition) to detect an imminent crash. GPS sensors can detect fixed dangers such as approaching stop signs through a location database.[2][4][5][6] Pedestrian detection can also be a feature of these types of systems.

           Collision avoidance systems range from widespread systems mandatory in some countries, such as autonomous emergency braking (AEB) in the EU, agreements between carmakers and safety officials to make crash avoidance systems eventually standard, such as in the United States,[7] to research projects including some manufacturer specific devices.[citation needed] 
            </p>
          </div>

          <div>
            <h2>ATE : AUTOMATED TRAFFIC ENFORCEMENT</h2>
            <p>
              Automated traffic enforcement system means an electronic system consisting of a photographic, video, or electronic camera and a vehicle sensor installed to work in conjunction with an official traffic controller or police department employee to automatically produce photographs, video or digital images of each vehicle violating a standard traffic control device or speed restriction.

              Automated traffic enforcement system shall mean an electronic system consisting of a photographic, video, or electronic camera and a vehicle sensor installed to work in conjunction with an official traffic controller or police department employee to automatically produce photographs, video or digital images of each vehicle violating a standard traffic control device or speed restriction.
            </p>
          </div>

          <div>
            <h2>TMC : TRAFFIC MANAGEMENR CENTER </h2>
            <p>
              A Traffic Management Center (TMC) operates as control center for municipal or regional transportation operations. A TMC can oversee operations such as traffic signal systems, traffic incident management, tolling systems, managed lanes and traveler information strategies to ensure that roadways operate smoothly. The collection of all TMC functions within a single location allows more comprehensive, system-wide management of regional transportation.
            </p>
          </div>

          <div>
            <h2>ITMS</h2>
            <p>
              
              Intelligent Traffic Management System (ITMS) includes road traffic solutions, traffic data solutions, traffic data collection, and traffic management systems

              Intelligent Traffic Management Systems aims at making transportation smoother and convenient by improving the traffic flow, increasing transportation system efficiency, and enhancing mobility. The products help to keep roads safe, increase productivity and lower traffic congestion. Traffic management solutions are an answer to traffic problems on highways and urban roads.
              This will include the Mumbai-Pune Expressway and the Mumbai-Nashik-Nagpur Samruddhi Mahamarg. They have been chosen because of their high rate of crashes. However, the ITMS is soon going to use technology to improve road safety and lower infractions.
.
            </p>
          </div>

          <div>
            <h2>Vehicle speed detaction system</h2>
            <p>
             
             Speed Limit violation detection system works as a violation warning for those vehicles that cross the maximum allowed speed on that route. This system will be capturing the Speed of each vehicle and also will capture the Image for those vehicles which crosses the speed limit. which uses the BYDS Sensor system
        Features:

            Awareness for the road user about their speed
             Displaying the vehicle speed on bigger display
             Online Penalty impose on speed violation
             Reducing the number of over speeding vehicle
              Increasing Road-Safety


            </p>
          </div>
        </div>
        <div class="right">
          <div>
            <img src="{% static  'images/speed.jpg'%}" alt="vehicle" />
          </div>

          <div>
            <img src="{% static  'images/ITMS.jpg'%}"  alt="itms" />
          </div>

          <div>
            <img src="{% static  'images/tmc.jpg'%}"  alt="tmc" />
          </div>

          <div>
            <img src="{% static 'images/are.jpg'%}" alt="ate" />
          </div>

          <div>
            <img src="{% static 'images/cas.jpg'%}"alt="cas" />
          </div>
        </div>
      </div>
    </div>
    <script src="{% static  'script/Ai.js'%}"></script>
  </body>
  </html>