{%load static%}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>road safety</title>
  <link rel="stylesheet" href="{% static 'css/gallary.css'%}"> 
<body>
    <h1><center>HIGHWAYS IN INDIA </center></h1>
<div class="gallery-container">
    <div class="gallery-item" data-index="1">
        <img src="{% static 'images/img11.jpg'%}">
    </div>
    <div class="gallery-item" data-index="2">
        <img src="{% static 'images/img4.jpg'%}">
    </div>
    <div class="gallery-item" data-index="3">
        <img src="{% static 'images/img22.jpg'%}">
    </div>
    <div class="gallery-item" data-index="4">
        <img src="{% static 'images/img21.jpeg'%}">
    </div>
    <div class="gallery-item" data-index="5">
        <img src="{% static 'images/img15.jpg'%}">
    </div>
    <div class="gallery-item" data-index="6">
        <img src="{% static 'images/img5.jpg'%}">
    </div>
</div>

<script src="{% static 'script/gallary.js'%}"></script>
</body>
</html>
