{%load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>road safety</title>
  <link rel="stylesheet" href="{% static 'css/rules.css'%}"> 
  <body>
<table>
<thead>
<tr>
  <th><h1><center>RULES AND REGULATIONS</center></h1></th>

</tr>
</thead>
<tbody>
<tr>
  <td>TURNING LEFT AND RIGHT </td>
  
</tr>
<tr>
  <td>PASSING TO THE LEFT AND RIGHT</td>
  
</tr>
<tr>
  <td>CAUTIONS ON A ROAD JUNCTIONs</td>
  
</tr>
<tr>
  <td>GIVING WAY TO TRAFFIC AT ROADS</td>
  
</tr>
<tr>
  <td>RIGHT TO WAYS</td>
  
</tr>
<tr>
  <td>TAKING U TURN</td>

</tr>
<tr>
  <td>SIGNAL TO BE GIVEN BY DRIVERS</td>
  
</tr>
<tr>
  <td>USE DIRECTIONAL INDICATERS</td>
  
</tr>
<tr>
  <td>DISTANCE FROM VEHICALS IN FRONT</td>
  
</tr>
<tr>
  <td>NEED LIMITED SPEED</td>
  
</tr>
</tbody>
</table>
<script src="rules.js"></script>
</body>
</html>

