{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>road safety</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/schames-user.css'%}">

  <body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<a class="navbar-brand" href="#">Road safety</a>
		</div>
		 <div id="navbar" class="collapse navbar-collapse">
			 <ul class="nav navbar-nav">
				<li class="active"><a href="test">Home</a></li>
				<!--<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul> -->
		</div> 
	</div>
</nav>
<div id="nav-spacer"></div>
<div class="stripe default">
	<div class="container">

		<div class="starter-template">
			<h1>SAFE ROAD USER</h1>
			<p class="lead">

                Road users include both drivers as well as pedestrians and cyclists (the so-called ‘vulnerable road users’). Their behaviour is the area with by far the biggest potential for improving road safety. Indeed, 90% of all road accidents today are linked to human error.
                
                In 30% of fatal accidents speeding is the main factor, while distraction causes 10-30% of road deaths. Equally worrying is the fact that 25% of all road fatalities in Europe are alcohol-related.
                
                Education and training are key factors in instilling appropriate behaviour and attitudes in road users. It is vital that drivers are aware of their own limitations, the dangers of speeding or texting behind the steering wheel and of the influence of alcohol or drugs on their ability to drive.
                
                The enforcement of existing traffic laws is also crucial, as about 65% of fatal accidents are caused by violations of traffic rules. Cracking down on traffic offences will make a difference, but we also need better enforcement across borders. European policy makers need to decide how to apply rules across Europe and to ensure they are complied with..</p>
		</div>

	</div>
</div>
<div class="stripe grey-light">
	<div class="container">
		<hr />
	</div>
</div>
<div class="stripe grey">
	<div class="container">
		<h1>SAFE ROAD INFRASTRUCTURE</h1>
		<p>

            Unclear traffic signs, poor lane markings, poor road surfaces and bad road design can be dangerous, to give just a few infrastructure-related examples. Improvements in the design, construction and maintenance of our road infrastructure can significantly improve road safety.
            
            Roads designed to minimise bottlenecks and to ensure better traffic flow, as well as reducing roadside hazards, can have a major impact on safety. Cleverly-designed infrastructure that encourages sensible, attentive driving will also reduce accidents.
            
            Replacing traffic signals with roundabouts significantly improves the safety of road junctions, for instance. Urban planning must also take road safety considerations into account.
            
            The quality of roads is another vital element of road safety. Road surfaces of poor quality, or that are deteriorating, can damage vehicles and put road users at risk. The type of road also plays an important role: Europe’s fastest roads – expressways with multiple lanes – are statistically the safest, while single carriageways (two-lane motorways) tend to be the most dangerous.
            
             .</p>
		<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
	</div>
</div>
<div class="stripe default">
	<div class="container">
		<h1>SAFER ROADS AND MOBILITY</h1>
        <!-- Safer Roads and Mobility -->
        </h1>
		<p>

Is a road just a road? Not if it’s safe

If many users don’t think twice about the roads they travel on, why is making roads “safe” so important? Roads demand as much consideration for safety as vehicles and users. Years of know-how and engineering experience go into building roads properly, signage and signals guide users to help protect them and others, and maintenance takes care of wear-and-tear to ensure a road is more than just navigable. A road becomes dangerous should any one of these elements go missing or not meet standards. Add to this the differences among road users; they have varying levels of understanding about road conditions and how they should behave. And, importantly, several large user groups require special safety considerations – cyclists, motorcyclists, pedestrians (including elderly people and children) and those disabled. Thus, making roads safer is a bit more complex than setting up a road sign.
		</p>
	</div>
</div>
<div class="stripe grey-light">
	<div class="container">
		<hr />
	</div>
</div>
<div class="stripe grey">
	<div class="container">
		<h1>SAFE SPEED</h1>
		<p>
			a safe speed is a speed less than the maximum at which the operator can take proper and effective oction to avoid collision and stop within a distance appropriate to the prevailing circumstances are conditions.
			Is establishing a safe operating speed,the operator must take into account visibility;traffic density;ability to maneuver the vessel bachground light at night; proximity of navigational hazards; draft of the vessel; limitation of radar equipments and the state of wind,sea and current
		</p>
		<ul>
			<li>
				<h1>STATE OF VISIBILITY--</h1>
				  with lesser viability,target detection is delayed speed need to be reduced.

				  <h1>TRAFFIC DENSITY--</h1>
				  Higher traffic density means the avoiding action will be less effective speed need to be reduced.

				  <h1>BACHGROUND LIGHTS--</h1>
				  too many lights can reduce effectiveness of look out and target detection can't be delayed speed need to be reduced in this case.

			</li>
			<li>
				<h1>SAFER VEHICAL</h1>
				<P>
                  Vehical safety is constantly adcancing and we promote appropriate technologies that will help reduces road trauma intelligent breath testing technology this can assess whether a driver is over the alcohols limit by reading breath. the safe vehical is a important to the driver because some time the vehicals are reason to crashes,and accidents.  

				</P>.
			</li>

		</ul>
	</div>
</div>
<div class="stripe inverse">
	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Lata Balasaheb Thackeray accident insurance scheme </h2>
				<p>The major policy decision,the maharashtra cabinet meeting chaired by chief minister Shri Uddav Thackeray approved a rs 125-crore road accidents insurance sheme named after the lata shiv sena founder-chief shri bal Thackeray.the highlights of scheme is that the state government will foot the tab
					for rs 30,000 of treatment cost in the initial 72 hours ofter the accidents,covering 74 treatment modalities.this will free the victim of the burden of having to shell out money in the midst of crisis
				<p><a class="btn btn-default" href="app" role="button">apply for schemes »</a></p>
			</div>
			<div class="col-md-4">
				<h2>Ayushman Bharat Card</h2>
				<p>The ministry of health and family welfare and government of india started the PM jan Arogya  Yojana under the Ayushman Barat Card.this Card is issued to aligible peaple so they can get free treatment in government and some other hospital. they also provide some accidental schemes and  they provide free treatment. the Ayushman Bharat Card 2024 but do not have it yet  </p>
				<p><a class="btn btn-default" href="app" role="button">apply for schemes »</a></p>
			</div>
			<div class="col-md-4">
				<h2>Samruddhi expressway Accidents card</h2>
				<p>Lata Mangeshkar Hospital,digdoh Hills,hingna road, nagpur has been salected as per the relevant government decision of the maharashtra government to provide timely medical treatment to save the lives of the patients injured in traffic accidents on the smaruddhi expressway .</p>
				<p><a class="btn btn-default" href="app" role="button">apply for schemes»</a></p>
			</div>
		</div>

		<hr>
	</div>
</div>

<div id="css-only-modals">
	<input id="modal1" class="css-only-modal-check" type="checkbox" checked/>
	<div class="css-only-modal">
		<label for="modal1" class="css-only-modal-close"><i class="fa fa-times fa-2x"></i></label>
		<h2>cookie</h2>
		<hr />
		<p>Accepet all cookie from this website</p>
		<label for="modal1" class="css-only-modal-btn btn btn-primary btn-lg">Okay</label>
	</div>
<div id="screen-shade"></div>
</div>
</html>
</body>




