{%load static%}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static  'css/table.css'%}">
</head>

<table class="zigzag">
    <thead>
      <tr>
        <center><h1>Black spots in Maharashtra</h1></center>
        <p></p>
        <th>sr. no</th>
        <th>Name of districts</th>
        <th>location of accidents</th>
        <th>NH no.</th>
        <th>No. of facilities</th>
        <th>Reasons for frequent accidents</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Thane/manor</td>
        <td>khude to sativali</td>
        <td>8</td>
        <td>46</td>
        <td>chowk zigzag road</td>
      </tr>
      <tr>
        <td>2</td>
        <td>thane/ghoti</td>
        <td>old kasaea ghat</td>
        <td>3</td>
        <td>46</td>
        <td>S curve and steep slope</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Satara/karad</td>
        <td>malkapur</td>
        <td>4</td>
        <td>40</td>
        <td>steep slope</td>
      </tr>
      <tr>
        <td>4</td>
        <td>pune/khandala</td>
        <td>waksai</td>
        <td>4</td>
        <td>36</td>
        <td>narrow road</td>
      </tr>
      <tr>
        <td>5</td>
        <td>jalgoan/paldhi </td>
        <td>serve town chowk</td>
        <td>6</td>
        <td>36</td>
        <td>road junction</td>
      </tr>
      <tr>
        <td>6</td>
        <td>thane/manor</td>
        <td>saykhed hawali</td>
        <td>8</td>
        <td>32</td>
        <td>sharp curve</td>
      </tr>
      <tr>
        <td>7</td>
        <td>pune/wadgoan</td>
        <td>wadgoan phata</td>
        <td>4</td>
        <td>27</td>
        <td>sharp curve and narrow road</td>
      </tr>
      <tr>
        <td>8</td>
        <td>satara/karad</td>
        <td>kashil</td>
        <td>4</td>
        <td>26</td>
        <td>steep slope</td>
      </tr>
      <tr>
        <td>9</td>
        <td>thane/shahapur</td>
        <td>kalambe</td>
        <td>3</td>
        <td>26</td>
        <td>sharp curve and steep slope</td>
      </tr>
      <tr>
        <td>10</td>
        <td>raigad /mahad</td>
        <td>sukeli phata</td>
        <td>17</td>
        <td>22</td>
        <td>sharp curve and steep slope</td>
      </tr>
      <tr>
        <td>11</td>
      <td>osmanabad/naldurga</td>
      <td>naldurga ghat</td>
      <td>9</td>
      <td>19</td>
      <td>narrow bridge,sharp curve and steep slope</td>
    </tr>
    <tr>
      <tr>
        <td>12</td>
        <td>nagpur/ramtek</td>
        <td>vadoda</td>
        <td>6</td>
        <td>13</td>
        <td>"T"junction</td>
      
    </tr>
  

    </tbody>
  </table>
  <script src="{% static  'script/table.js'%}"></script>
  </html>